#footer {
    background: #A207BD;
}

.footer__wrapper {
    padding: 0 140px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-nav {
    display: flex;
    align-items: center;
    list-style: none;
}

.footer-nav__link {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

.footer-nav__item {
    margin-left: 50px;
}
.footer-nav__item:first-child {
    margin-left: 0;
}


.footer__links > a:first-child {
    margin-right: 34px;
}
