#game {
    padding-top: 125px;
    padding-bottom: 75px;
}

.game__title {
    margin-bottom: 113px;
}

.game__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game__cards {
    margin-top: 153px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game__card {
    position: relative;
    width: 218px;
    height: 210px;
    text-align: center;
    margin-left: 48px;
}
.game__card:first-child {
    margin-left: 0;
}

.game__card-img {
    position: absolute;
    top: -22px;
    left: calc(50% - (63px / 2))
}

.game__card-title {
    min-height: 55px;
    font-size: 20px;
    line-height: 27px;
    margin: 70px 0 10px 0;
}

.game__card-text {
    font-size: 11px;
    line-height: 15px;
}
