#other {
    padding-top: 125px;
    padding-bottom: 75px;
}

.other__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.other__title {
    margin-bottom: 132px;
}

.other__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.other__card {
    max-width: 180px;
    text-align: center;
    margin-left: 25px;
}
.other__card:first-child {
    margin-left: 0;
}

.other__card-img {
    margin-bottom: 21px;
}


@media (max-width: 992px) {

    #other {
        padding-top: 80px;
        padding-bottom: 50px;
    }

    .other__title {
        margin-bottom: 100px;
    }

    .other__cards {
        justify-content: center;
        flex-wrap: wrap;
    }

    .other__card {
        text-align: center;
        margin: 50px 12px;
    }
    .other__card:first-child {
        margin-left: 12px;
    }

}

@media (max-width: 768px) {

   

}

@media (max-width: 576px) {

    #other {
        padding-top: 60px;
        padding-bottom: 30px;
    }

    .other__title {
        margin-bottom: 60px;
    }

   .other__card {
        text-align: center;
        margin: 30px 12px;
    }

}